<button class="btn btn-outline-primary"
[routerLink]="['/teacher/actividad/nuevo']">
  Nuevo Contacto
</button>
<button class="btn btn-outline-secondary"
[routerLink]="['/teacher/actividad']">
  Regresar
</button>
<hr>
<div *ngIf="notificacion.estado"
class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>
<form #formularioContacto="ngForm" (ngSubmit)="guardarCambios()">
  <div class="form-group">
    <label>Descripcion</label>
    <input type="text" class="form-control"
    placeholder="Ingrese la descripcion"
    [(ngModel)]="actividad.descripcion"
    name="descripcion">
  </div>
<div class="form-group">
    <label>Valor</label>
    <input type="text" class="form-control"
    placeholder="Ingrese el punteo"
    [(ngModel)]="actividad.valor"
    name="valor">
  </div>
<div class="form-group">
    <label>Fecha de entrega</label>
    <input type="date" class="form-control"
    placeholder="Ingrese la fecha final"
    [(ngModel)]="actividad.fecha_final"
    name="fecha_final">
  </div>

<div class="form-group">
    <label>Bimestre</label>
    <select class="form-control"
    name="idSeccion"
    [(ngModel)]="actividad.bimestre">
      <option value="0">Seleccione una opcion</option>
           <option value="1">Bimestre I</option>
           <option value="2">Bimestre II</option>
           <option value="3">Bimestre III</option>
           <option value="4">Bimestre IV</option>

    </select>
  </div>
  <div class="form-group">
    <label>Secciones</label>
    <select class="form-control"
    name="idSeccion"
    [(ngModel)]="actividad.idSeccion">
      <option value="0">Seleccione una opcion</option>
           <option *ngFor="let sec of seccion" value="{{sec.idSeccion}}">{{ sec.Seccion +" "+ sec.Grado + " " + sec.Jornada}}</option>

    </select>
  </div>
  <div class="form-group">
    <label>Materia</label>
    <select class="form-control"
    name="idSeccion"
    [(ngModel)]="actividad.idMateria">
      <option value="0">Seleccione una opcion</option>
           <option *ngFor="let mat of materia" value="{{mat.idMateria}}">{{ mat.nombre}}</option>

    </select>
  </div>
  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>