<h1>Actividades</h1>
<hr>
<button class="btn btn-outline-primary"
[routerLink]="['/teacher/actividad/nuevo']">
  Nueva actividad
</button>
<br>
<br>
<div class="container">

  <div class="col s6">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" *ngFor="let ac of actividadSeccion" >
            <div class="card-content white-text">
              <span class="card-title">Materia: {{ac.Materia}} </span>
              <p> Descripcion:
                {{ac.descripcion}} </p>
              <p> Fecha de entrega:
                {{ac.fecha_entrega}} </p>
              <p> Seccion:
                {{ac.Seccion}} </p>

            </div>
            <div class="card-action">
            <button
          [routerLink]="['/teacher/actividad',ac.idActividad]"
          class="btn btn-outline-info">
            Ver mas
          </button>  
          <button
          (click)="borrarMateria()"
          class="btn btn-outline-danger">
            <strong>Eliminar</strong>
          </button>
            </div>
          </div>
        </div>
      </div>
</div>