  <nav style="background:#26a69a">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Colegio</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active">
          <a  [routerLink]="['alumno']">Alumno</a>
        </li>
       <li routerLinkActive="active">
          <a  [routerLink]="['profesor']">Profesor</a>
        </li>
       <li routerLinkActive="active">
          <a  [routerLink]="['materia']">Materia</a>
        </li>
      </ul>
    </div>
  </nav>
