<h3>Mis Actividades</h3>
<hr>

<div class="container">

  <div class="col s6">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" *ngFor="let acti of actvidadAlumno" >
            <div class="card-content white-text">
              <span class="card-title">Materia: {{acti.Materia}} </span>
              <p> Descripcion de la actividad:
                {{acti.Actividad}} </p>
              <p> Fecha de entrega :
                {{acti.Fecha_Entrega}} </p>
              <p> Fecha de asinganacion:
                {{acti.Fecha_Asignacion}} </p>
              <p> Archivo:
               <a href="{{acti.archivo}}">Tarea</a> </p>
            </div>
            <div class="card-action">
            <button
          [routerLink]="['/students/actividad',acti.idActividadAlumno]"
          class="btn btn-outline-info">
            Ver mas...
          </button>  

            </div>
          </div>
        </div>
      </div>
</div>