<h1>Materia: <small>{{ actividad.Materia | uppercase }}</small></h1>
<hr/>
<h1>Actividad: <small>{{ actividad.Actividad | lowercase }}</small></h1>

<button class="btn btn-outline-secondary"
[routerLink]="['/students/actividad']">
  Regresar
</button>
<hr>
<br>
<br>
<br>
<div *ngIf="notificacion.estado"
class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>
<form #formularioContacto="ngForm" (ngSubmit)="guardarCambios()">

  <div *ngIf="!actividad.archivo" class="panel-body">
    <form method="post" enctype="multipart/form-data">
      <label>Subir Archivo</label>
      <input type="file" (change)="fileUpload($event)" name="file"/>
    </form>
  </div>
  <div class="form-group">
    <a *ngIf="actividad.archivo !== 'undefined'" href="{{actividad.archivo}}"></a>
  </div>
  <button type="submit" class="btn btn-primary">Guardar Cambios</button>