<button class="btn btn-outline-primary"
[routerLink]="['/students/alumno/nuevo']">
  Nuevo Contacto
</button>
<button class="btn btn-outline-secondary"
[routerLink]="['/students/alumno']">
  Regresar
</button>
<hr>
<div *ngIf="notificacion.estado"
class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>
<form #formularioContacto="ngForm" (ngSubmit)="guardarCambios()">
  <div class="form-group">
    <label>Token</label>
    <input type="text" class="form-control"
    placeholder="Ingrese el token asignado"
    [(ngModel)]="parametros.token"
    name="token">
  </div>
  <div class="form-group">
    <label>Secciones</label>
    <select class="form-control"
    name="idSeccion"
    [(ngModel)]="parametros.idSeccion">
      <option value="0">Seleccione una opcion</option>
           <option *ngFor="let sec of seccion" value="{{sec.idSeccion}}">{{ sec.Seccion +" "+ sec.Grado + " " + sec.Jornada}}</option>

    </select>
  </div>
  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>