<h3>Mis Asignaciones</h3>
<hr>
<button class="btn btn-outline-primary"
[routerLink]="['/students/alumno/nuevo']">
  Nueva asignacion
</button>

<div class="container">

  <div class="col s6">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" *ngFor="let sec of seccioneAlumno" >
            <div class="card-content white-text">
              <span class="card-title">Materia: {{sec.Materia}} </span>
              <p> Grado:
                {{sec.Grado}} </p>
              <p> Seccion:
                {{sec.nombre}} </p>
              <p> Jornada:
                {{sec.Jornada}} </p>
                 <p> Id de asignacion:
                {{sec.idSeccionMA}} </p>
            </div>
            <div class="card-action">
            <button
          [routerLink]="['/students/alumno',sec.idSeccionMA]"
          class="btn btn-outline-info">
            Ver mas
          </button>  
          <button
          (click)="borrarMateria()"
          class="btn btn-outline-danger">
            <strong>Eliminar</strong>
          </button>
            </div>
          </div>
        </div>
      </div>
</div>