<div class="valign-wrapper" id="login-page" >
        <div class="container">
            <div class="center-align">
                <div class="row">
                    <div class="col s6 offset-s4">
                      <br>
                      <br>
                      <br>               
                        <div class="card" >
                            <div class="card-content">
                               <h5>Nombre: {{alumno.nombre}}</h5>
                                <div class="left-align">
                                    <form #formularioAlumno="ngForm"(ngSubmit)="guardarCambios()" >
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <label  for="formGroupExampleInput">Nombre</label>
                                                <input name="nombre" type="text" 
                                                [(ngModel)]="alumno.nombre">
                
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <label for="formGroupExampleInput2">Apellido</label>
                                                <input name="apellido"  type="text" class="form-control" required 
                                            
                                                [(ngModel)]="alumno.apellido">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <label for="formGroupExampleInput2">Nick</label>
                                                <input name="nick"  type="text" class="form-control" required 
                                               
                                                [(ngModel)]="alumno.nick">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <label for="formGroupExampleInput2">Contraseña</label>
                                                <input name="contrasena"  type="password" class="form-control" required 
                                               
                                                [(ngModel)]="alumno.contrasena">
                                                
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="btn-group">
                                                <button class="waves-effect waves-light btn" type="submit">
                                                    Ingresar
                                                </button>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>