<h2>Alumnos</h2>
<hr>
<br>
<br>
<table class="bordered responsive-table centered highlight">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let al of alumnos">
            <td>{{al.nombre}}</td>
            <td>{{al.apellido}}</td>
            <td>{{al.nick}}</td>
            <td>{{al.contrasena}}</td>
            <td>
              <div class="center-btn">
               <button class="btn waves-effect waves-light" type="submit" name="action"
                (click)="asignar(al.idAlumno)">
                  Asignar
               </button>
               <button class="btn waves-effect waves-purple" type="submit" name="action"
               [routerLink]="['/dashboard/alumno', al.idAlumno]">
                 Editar 
                 </button>
                <button class="btn waves-effect waves-light" type="submit" name="action"
                (click)="borrarAlumno(al.idAlumno)">
                  Eliminar
                 </button>
                </div>
            </td>
          </tr>
        </tbody>
</table>