<div class="navbar-fixed transparent">
<nav  style="background:#26a69a">
    <div class="nav-wrapper transparent">
        <a href="#" class="brand-logo center">Colegio</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse" id="btncollapse">
            &#9776;
        </a>
        <ul class="left hide-on-med-and-down transparent">
        <li routerLinkActive="active">
          <a [routerLink]="['actividad']">Actividad</a>
        </li>
            <li><a href="#" class="link">JAJAJA</a></li>
            <li><a href="#" class="link">SOCIAL MEDIA</a></li>
            <li><a href="#" class="link">CONTACT US</a></li>
        </ul>

    </div>
</nav>