<div class="container" style="{margin-top: 40px;}">
  <div class="alert alert-success alert-dismissible fade show" role="alert"
  *ngIf="notificacion.estado">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{ notificacion.mensaje }}</strong>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      <h1 class="text-center">SignUp</h1>
      <hr>
      <form [formGroup]="formularioSignUp" (ngSubmit)="registrar()">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text"
            class="form-control"
            placeholder="Ingrese su nombre"
            formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text"
            class="form-control"
            placeholder="Ingrese su apellido"
            formControlName="apellido">
        </div>
        <div class="form-group">
          <label for="nick">Nick</label>
          <input type="text"
            class="form-control"
            placeholder="Ingrese su nick"
            formControlName="nick">
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <input type="password"
            class="form-control"
            placeholder="Ingrese su contrasena"
            formControlName="contrasena">
        </div>
          
        <div class="form-group">
          <button type="submit"
            class="btn btn-outline-primary btn-block"
            [disabled]="!formularioSignUp.valid">
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
